<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBG0VlId_F0l0KusC3Y7ol5_ORQBGUh4So</string>
	<key>GCM_SENDER_ID</key>
	<string>337306201300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.nest.taskNext</string>
	<key>PROJECT_ID</key>
	<string>tasknest-ba6dc</string>
	<key>STORAGE_BUCKET</key>
	<string>tasknest-ba6dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337306201300:ios:a364bb13de5ac7f2825f41</string>
</dict>
</plist>